@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-center::placeholder {
    text-align: start;
    padding-left: 25px;
    font-size: 12px;
  }

.inner-shadow {
  box-shadow: inset 0 0 10px 5px rgba(255, 255, 255, 0.5); /* Adjust the spread and intensity */
}
  

.carousel-button-prev,
.carousel-button-next {
  display: none !important;
}
